<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>
{% if user.is_active %}
<ul>
  <li><a class="active" href="{% url 'index' %}">Home</a></li>
  {% if user.is_staff %}
  <li><a href="/admin">Administration</a></li>
  {% endif %}
  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% else %}

<ul>
  <li><a class="active" href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'register' %}">Register</a></li>
  <li><a href="{% url 'login' %}">Login</a></li>
</ul>
{% endif %}

{% block body_block %}
{% endblock %}
</body>
